<!DOCTYPE html>
<html ng-app="loja"> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body ng-controller="primeiroController as user" id="corpo">

	<form action="" name="form">
		<input type="text" name="nome" id="nome" ng-model="nome" required="required">
		<br>
		<input type="text" name="sobreNome" id="sobreNome" ng-model="sobreNome" required="required">
		<button>Salvar</button>
	</form>
	

<script type="text/javascript" src="../resources/static/angular/angular.min.js"></script>
<script type="text/javascript" src="../resources/script/primeiroController.js"></script>
</body>
</html>